.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
tests
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
*.log
deploy.sh
docker-compose.override.yml
README.md
